<ion-content class="ion-text-center">
  <div class="signin">
    <ion-card class="vertical-align-content">
      <ion-card-header>
        <ion-card-title> Industry </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form>
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-input name="email" required type="text" placeholder="your@email.com" clearInput [(ngModel)]="email"></ion-input>
            </ion-item>
            
            <ion-label style="color: red;" class="ion-text-wrap" > {{ emailStatement }} </ion-label>

            <ion-item>
              <ion-input name="password" required type="{{showhide}}" placeholder="password"  clearOnEdit="false" [(ngModel)]="password" ></ion-input>
              <p class="showhide" slot="end" *ngIf="password && showhide" (click)='showhidePassword()'> {{ showhideText }} </p>
            </ion-item>
            
            <ion-label style="color: red;" class="ion-text-wrap" > {{ passwordStatement }} </ion-label>

          </ion-list>
        </form>
      </ion-card-content>
      <div class="ion-padding">
        <ion-button expand="block" type="submit" (click)="signin()"> Sign In </ion-button>
      </div>
      <div class="ion-padding">
        <ion-label> Not a user yet? <a (click)="goToSignUp()" >Sign Up</a> here! </ion-label>
      </div>
    </ion-card>
  </div>
</ion-content>
