// ion-avatar {
//     margin: auto;
//     width: 9%;
//     height: 39%;
// }

.vertical-align-content {
    margin: auto;
    box-shadow: none !important;
}

.main-profile-content {
    margin: 10%;
}

.no-margin {
    margin: 0px;
}

.margin-left {
    margin-left: 10px;
}

.settings-sub-heading {
    color: grey;
    font-weight: bold;
}