<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-profile-content">
    <ion-row>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
      </ion-avatar>
      <ion-col>
          <h3 class="no-margin margin-left"> {{firstname}} </h3>
          <p class="no-margin margin-left"> {{lastname}} </p>
        </ion-col>
    </ion-row>
    <h6 class="settings-sub-heading"> DETAILS </h6>
    <p> {{email}} </p>

    <h6 class="settings-sub-heading"> NOTIFICATIONS </h6>

    <h6 class="settings-sub-heading"> PAYMENTS </h6>

    <h6 class="settings-sub-heading"> OTHER </h6>

    
  </div>
</ion-content>

<ion-tab-bar slot="bottom">

  <ion-tab-button (click)="gohome()">
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>

</ion-tab-bar>